@import url("https://fonts.googleapis.com/css2?family=Strait&display=swap");

/* =========================== Patern ========================== */
:root{
  --dark-gray:#A9A9A9;
  --back:#000000;
  --light-gray:#D3D3D3;
  --shade-violet: #f3f5fc
}

*{
  box-sizing: border-box;
  font-family: "Strait", sans-serif;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}

.gradient {
  background: linear-gradient(90deg, var(--dark-gray), var(--light-gray), var(--back));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}
/* ============================================================= */
/* =========================== Header ========================== */
.header{
  height: 100px;
  width: 100%;
}

.header-logo{
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.header-logo img{
  width: 80px;
}

.header-logo h1{
  font-size: 75px;
  font-weight: bold;
}

.tema {
  align-items: flex-end;
  font-weight: 100;
  font-size: 10px;
  padding: 6px 14px;
  background: #e6eeff;
  border-radius: 100px;
  border: 0px solid #080d17;
  box-shadow: 0px 3px 6px #6a6c6e;
}
/* ============================================================= */
/* ============================ Main =========================== */
.main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--shade-violet);
  border-radius: 35px;
}

#encode-text{
  color: #000000;
  border: none;
  background-color: var(--shade-violet);
  width: 100%;
  height: calc(100vh - 369px);
  outline: none;
  resize: none;
  padding: 1.5rem;
  font-size: 32px;
  border-radius: 32px
}

#encode-text::placeholder{
  color: #000000;
}

.encode{
  flex-grow: 2;
  flex-basis: 65%;
}

.click-area{
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  background-color: var(--shade-violet);
  border-radius: 0px 0px 0px 35px;
}

.warning-area{
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;
}

.warning-area img{
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-bottom: 4px;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.button{
  padding: 15px 60px;
  border: none;
  width: 47%;
  border-radius: 16px;
  font-size: 15px;
}

.button.btn-copy{
  width: 100%;
}

.button.btn-clear{
  width: 100%;
}

.btn-encode{
  background-color: var(--back);
  border: solid 1px var(--back);
  color: var(--shade-violet);
  transition: 0.5s;
}

.btn-encode:hover{
  color: var(--back);
  background-color: #FFFFFF;
  cursor: pointer;
  scale: 1.01;
}

.btn-decode{
  background-color: var(--dark-gray);
  border: solid 1px var(--dark-gray);
  color: #FFFFFF;
  transition: 0.5s;
}

.btn-decode:hover{
  color: var(--dark-gray);
  background-color: #FFFFFF;
  cursor: pointer;
  scale: 1.01;
}

.btn-copy{
  background-color: var(--light-gray);
  color: #000000;
  transition: 0.5s;
}

.btn-copy:hover{
  color: var(--light-gray);
  border: solid 1px var(--light-gray);
  background-color: #FFFFFF;
  cursor: pointer;
}

.btn-clear{
  background-color: var(--light-gray);
  color: #000000;
  transition: 0.5s;
}

.btn-clear:hover{
  color: var(--light-gray);
  border: solid 1px var(--light-gray);
  background-color: #FFFFFF;
  cursor: pointer;
}

.decode{
  flex-grow: 1;
  flex-basis: 28%;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--dark-gray), var(--light-gray), var(--back));
  padding: 0 20px;
  border-radius: 35px;
  margin: 30px;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.47);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.47);
}

.decode img{
  width: 100%;
}

.decode h3{
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
}

.decode p{
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
}

.encoded-box{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  gap: 20px;
  display: none;
}

.encoded-text{
  width: inherit;
  height: 90%;
  padding: 25px 25px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 28px;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
}
/* ============================================================= */
/* =========================== Footer ========================== */
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;margin-top: 20px;
    background-color: var(--back);
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
  }

  .footer .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }

  .footer .icons a:hover {
    color: #00FFFF;
    transition: 0.5s;
  }

  .footer a{
    color: var(--gray-light);
    text-decoration: none;
  }
/* ============================================================= */

@media (max-width: 905px) {
  #encode-text{
    height: 300px;
  }
}

@media (max-width: 607px) {
  .button{
    width: 100%;
  }
}

@media (max-width: 510px) {
  .header-logo h1{
    font-size: 60px;
    font-weight: bold;
  }
}

@media (max-width: 440px) {
  .header-logo h1{
    font-size: 40px;
  }

  #encode-text{
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  .decode{
    min-width: 270px;
  }
  .warning-area{
    font-size: 10px;
  }
}

@media (max-width: 344px) {
  .header-logo h1{
    font-size: 35px;
  }
  .button{
    font-size: 14px;
  }
}

@media (max-width: 330px) {
  .button{
    font-size: 12px;
  }
}
